/*the root controls main color change, code cite:https://www.youtube.com/watch?v=riDzcEQbX6k (min=5:50)*/
:root {
  --hue-past: 0;/*wrong*/
  --hue-present: 200;/*neutral*/
  --hue-future: 145;/*correct*/
}



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  /*hue variable allows color change, code cite:https://www.youtube.com/watch?v=riDzcEQbX6k (min=5:50)*/
  textarea{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue),100%, 20%);
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 50vw;
  }
  .lead{
    font-size: 30px;


  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 50px;
  }
  td{
    margin-top:5px;
    margin-bottom: 5px;
    width:5px;


  }
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  /*td hue var gives each color change a clas to indicate when to switch*/
  
  td.past {/*wrong=red*/
    background-color: grey;
    color: white;
    /*--hue: var(--hue-past;*/
  }
  
  td.present {/*neutral=grey*/
    background-color:#d3d3d3;
    color: white;
    /*--hue: var(--hue-present;*/
  }
  
  td.future {/*correct=green*/
    background-color: rgb(10, 69, 124);
    color: white;
    /*--hue: var(--hue-future;*/
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    height:3vw;
    width:5vw;
    
  }
  
  .saveBtn:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
    color:white;
    background-color: rgb(16, 117, 156);
  }